@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tagesschrift&display=swap');


@mixin flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

// colours
$primary-color: white;
$secondary-color: black;

body{
    font-family: "Open Sans",sans-serif;
    font-size: 2em;
}

.content {
    @include flex-column;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
}

.dropdown {
    position: relative;
    @include flex-column;
    justify-content: flex-start;
    background-color: $primary-color;
    width: 200px;
}

.dropbtn {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    padding: 10px 20px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
    }
    &:active {
        background-color: color.adjust($primary-color, $lightness: -30%);
        text-decoration: underline;
    }
}

.dropdown-content{
    @include flex-column;
    position: absolute;
    top: 100%;
    justify-content: center;
    align-items: flex-start;

    background-color: $primary-color;
    margin-top: auto;
    width:100%;

    a {
        font-size: 1.2rem;
        width: 100%;
        text-decoration: none;
        color: $secondary-color;
        padding: 10px 20px;
        &:hover {
            color: color.adjust($secondary-color, $lightness: -10%);
            background-color: color.adjust($primary-color, $lightness: -20%);
        }
        &:active {
            color: color.adjust($secondary-color, $lightness: -10%);
            background-color: color.adjust($primary-color, $lightness: -20%);
            text-decoration: underline;   
        }
    }
}

.dd-active{
    background-color: rgb(213, 213, 255);
}

.dd-translucent{
    opacity:.5;
}


.dd-hidden{
    display: none;
}